* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: #353131;
}

main {
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 40px;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.formulario_label {
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.formulario_input_grupo {
  position: relative;
}

.formulario_input {
  width: 100%;
  background: #fff;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: 0.3s ease all;
}

.formulario_input:focus {
  border: 3px solid #11198f;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario_input_error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.formulario_input_error-activo {
  display: block;
}

.formulario_validacion_estado {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 15px;
  opacity: 0;
}

.formulario_checkbox {
  margin-right: 10px;
}

.formulario_grupo-terminos,
.formulario_mensaje,
.formulario_grupo-btn-enviar {
  grid-column: span 2;
}

.formulario_mensaje {
  height: 45px;
  line-height: 45px;
  background: #f66060;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
}

.formulario_mensaje-activo {
  display: block;
}

.formulario_mensaje p {
  margin: 0;
}

.formulario_grupo-btn-enviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario_btn {
  height: 45px;
  line-height: 45px;
  width: 30%;
  background: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s ease all;
}

.formulario_btn:hover {
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario_mensaje-exito {
  font-size: 14px;
  color: #119200;
  display: none;
}

formulario_mensaje-exito-activo {
  display: block;
}

/* validacion */
.formulario_grupo-correcto .formulario_validacion_estado {
  color: #1ed12d;
  opacity: 1;
}

.formulario_grupo-incorrecto .formulario_label {
  color: #bb2929;
}

.formulario_grupo-incorrecto .formulario_validacion_estado {
  color: #bb2929;
  opacity: 1;
}

.formulario_grupo-incorrecto .formulario_input {
  border: 3px solid #bb2929;
}

/* Media querys */
@media screen and (max-width: 800px) {
  .formulario {
    grid-template-columns: 1fr;
  }

  .formulario_grupo-terminos,
  .formulario_mensaje,
  .formulario_grupo-btn-enviar {
    grid-column: span 1;
  }

  .formulario_btn {
    width: 100%;
  }
}
